<form>
	<div class="form-row">
		<div class="form-group col-md">
			<label for="cedula">Cédula cliente</label>
      <input type="number" class="form-control" id="cedula">
    </div>
    <div class="form-group col-md">
      <label for="cliente">Nombre cliente</label>
      <input type="text" class="form-control" id="cliente">
    </div>

    <div class="form-group col-md">
      <label for="inputEmail4">Fecha</label>
      <input type="date" class="form-control" id="inputEmail4">
    </div>
  </div>

  <div class="card">
  <div class="card-header">
    <p style="display:inline;"><strong>Ingreso de productos</strong></p>
  </div>
  <div class="card-body">
    <div class="form-row">
		<div class="form-group col-md">
			<label for="inputEmail4">Fruta</label>
      <select class="form-control"></select>
    </div>
    <div class="form-group col-md">
      <label for="inputPassword4">Variedad</label>
     <select class="form-control"></select>
    </div>

    <div class="form-group col-md-2">
      <label for="inputEmail4"># Kilos</label>
      <input type="number" class="form-control" id="inputEmail4">
    </div>

    <div class="form-group col-md-2">
      <label for="inputEmail4">*</label>
      <a href="#" class="btn btn-primary form-control">Agregar</a>
    </div>
  </div>
 
  </div>
</div>

  <hr>

<div class="card">
  <div class="card-header" >
    <p style="display:inline;"><strong>Resumen</strong></p>

    <a href="#" class="btn btn-success float-right">Finalizar</a>
  </div>
  <div class="card-body">
  <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fruta</th>
      <th scope="col">Variedad</th>
      <th scope="col"># Kilos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Aguacate</td>
      <td>Hass</td>
      <td>115</td>
    </tr>
  </tbody>
</table>
  </div>
</div>
</form>